bin/*
obj/*
.vs/TrackCrafts/v17/.suo
.vs/TrackCrafts/v17/.futdcache.v1
.vs/TrackCrafts/FileContentIndex/487759b4-937b-4521-9ea1-a8bb497ede18.vsidx
.vs/TrackCrafts/FileContentIndex/5450b178-1935-4b1e-a858-645f66bca11c.vsidx
.vs/TrackCrafts/FileContentIndex/3b6b23ec-6ce6-4aeb-a81c-b15a6ca23e50.vsidx
.vs/TrackCrafts/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/trackcrafts.projects.v2
.vs/ProjectEvaluation/trackcrafts.metadata.v2
